[Desktop Entry]
Encoding=UTF-8
Name=Session Cmd
Comment=Session cmd user agent
Exec=/usr/share/session-cmd/session-cmd-script
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;
