#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ICON_SIZES = 16 22 24 32 48

configure:configure-stamp

configure-stamp:
	dh_testdir
	@set -e ;
#	Old version
	touch configure-stamp

build: build-stamp
	# Add here our commands
	#

build-stamp: configure-stamp 
	dh_testdir
	# Add here commands to compile the package.
	
	#docbook-to-man docs/$i  >  $i
	#done
	#touch $@

	# generate backgrounds in png format
	cat debian/wallpapers-top.xml > wallpapers/aurex-wallpapers.xml
	for F in wallpapers/*.xcf ; do f=$${F%.xcf}; xcf2png $$F >$$f.png; basef=$${f##*/}; X=debian/$$basef.xml.in; [ -r "$$X" ] || X=debian/wallpaper.xml.in; sed -e "s%_@_basename_@_%$$basef%g;s%_@_filename_@_%$$basef.png%g" $$X >> wallpapers/aurex-wallpapers.xml; done
	cat debian/wallpapers-bottom.xml >> wallpapers/aurex-wallpapers.xml

	# generate grub splash
	for F in grub/*.xcf ; do f=$${F%.xcf}; xcf2png $$F >$$f.png; done
	touch build-stamp

	# generate replacement icons
	for D in aurex-logos/icons/* ; do d=install.aurex-icon-theme/icons/$${D##*/}; for F in $$D/*.svg; do fsvg=$${Ff##*/}; f=$${fsvg%.svg}; mkdir -p $$d/scalable; cp $$F $$d/scalable/$fsvg; for s in $(ICON_SIZES) ; do mkdir -p $$d/$$s ; inkscape --without-gui --file=$$F --export-width=$$s --export-height=$$s --export-png=$$d/$$s/$$f.png ; done; done; done

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
	rm -f wallpapers/*.png
	rm -f wallpapers/aurex-wallpapers.xml
	rm -f grub/*.png
	rm -f install.aurex-icon-theme/icons
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep 
	dh_installdirs
	# Add here commands to install the package into debian/pp.

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
#	dh_installexamples
	dh_install
#       dh_installmenu
#       dh_installdebconf       
#       dh_installlogrotate
#       dh_installemacsen
#       dh_installpam
#       dh_installmime
#       dh_python
	dh_installinit
#       dh_installcron
#       dh_installinfo
#	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#       dh_perl
#       dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb


# Build architecture-dependent files here.
#binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
