[Desktop Entry]
Name=AureX Floaters
Comment=Bubbles the AureX logo around the screen
Exec=/usr/lib/gnome-screensaver/gnome-screensaver/floaters /usr/share/pixmaps/aurex/aurex-logo.svg
TryExec=/usr/lib/gnome-screensaver/gnome-screensaver/floaters
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;Screensaver;
OnlyShowIn=GNOME;
X-Ubuntu-Gettext-Domain=gnome-screensaver
