Source: cups-usercode
Section: misc
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Uploaders: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.8.4

Package: cups-usercode
Architecture: all
Depends: openprinting-ppds-extra, aurex-notify, ghostscript
Replaces: usercode-ppds
Conflicts: usercode-ppds
Provides: usercode-ppds
Description: provides usercode prompt facility for cups
 the package installs required stuff to prompt for the UserCode
 in every print job for Ricoh-Aficio and similar printers.
