Source: aurex-openvpn
Section: universe/net
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 7.0.50~)

Package: aurex-openvpn-nm
Architecture: all
Depends: ${misc:Depends}, aurex-transmute, network-manager-openvpn
Recommends: network-manager-openvpn-gnome
Description: fixes network manager openvpn plugin
 Install a simple fix for network manager openvpn plugin
