[Desktop Entry]
Name=aurex transmute
Name[es]=Transmutador aurex
GenericName=aurex transmute
GenericName[es]=Transmutador aurex
Comment=Configure aurex customizations
Comment[es]=Configura las personalizaciones de aurex
Exec=gksu --desktop /usr/sbin/aurex-transmute-gui
TryExec=/usr/sbin/aurex-transmute-gui
Icon=aurex-transmute
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=System;Settings;
X-KDE-SubstituteUID=true
