Source: aurex-notify
Section: misc
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Uploaders: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.8.4

Package: aurex-notify
Architecture: all
Depends: netpipes, libnotify-bin, libgnome2-0
Description: user session agent
 aurex-notify creates a unix-domain socket to comunicate with a very simple user agent.
 This program is installed in the Sessions Startup Programs of the GNOME Desktop system,
 and acts like a user space daemon that and allows the execution of a limited set of
 commands in the user graphical environment.
