
#-------------------------------------------------------------------
#                       DES-3018 Configuration
#
#                       Firmware: Build 4.00.018
#        Copyright(C) 2004-2007  D-Link Corporation. All rights reserved.
#-------------------------------------------------------------------


# BASIC

config serial_port baud_rate 9600 auto_logout 10_minutes
config terminal_line 24


# STP

 config stp maxage 20 hellotime 2 forwarddelay 15 priority 32768 version rstp txholdcount 3 fbpdu enabled
 disable stp
 config stp ports 1 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 2 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 3 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 4 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 5 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 6 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 7 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 8 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 9 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 10 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 11 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 12 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 13 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 14 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 15 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 16 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 17 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled
 config stp ports 18 cost auto priority 128 edge false p2p auto state enabled fbpdu enabled

# STORM

config traffic control  1 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  2 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  3 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  4 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  5 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  6 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  7 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  8 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  9 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  10 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  11 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  12 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  13 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  14 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  15 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  16 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  17 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic control  18 broadcast disable multicast disable unicast disable action drop threshold 64 countdown 0 time_interval 5
config traffic trap none

# LBD

disable loopdetect
config loopdetect recover_timer 60
config loopdetect interval 10
config loopdetect ports 1 state disable
config loopdetect ports 2 state disable
config loopdetect ports 3 state disable
config loopdetect ports 4 state disable
config loopdetect ports 5 state disable
config loopdetect ports 6 state disable
config loopdetect ports 7 state disable
config loopdetect ports 8 state disable
config loopdetect ports 9 state disable
config loopdetect ports 10 state disable
config loopdetect ports 11 state disable
config loopdetect ports 12 state disable
config loopdetect ports 13 state disable
config loopdetect ports 14 state disable
config loopdetect ports 15 state disable
config loopdetect ports 16 state disable
config loopdetect ports 17 state disable
config loopdetect ports 18 state disable

# GM

config sim candidate
disable sim
config sim dp_interval 30
config sim hold_time 100

# QOS

config scheduling_mechanism strict
config scheduling 0 weight 1 
config scheduling 1 weight 2 
config scheduling 2 weight 4 
config scheduling 3 weight 8 
config 802.1p user_priority 0  1
config 802.1p user_priority 1  0
config 802.1p user_priority 2  0
config 802.1p user_priority 3  1
config 802.1p user_priority 4  2
config 802.1p user_priority 5  2
config 802.1p user_priority 6  3
config 802.1p user_priority 7  3
config 802.1p default_priority 1 0
config 802.1p default_priority 2 0
config 802.1p default_priority 3 0
config 802.1p default_priority 4 0
config 802.1p default_priority 5 0
config 802.1p default_priority 6 0
config 802.1p default_priority 7 0
config 802.1p default_priority 8 0
config 802.1p default_priority 9 0
config 802.1p default_priority 10 0
config 802.1p default_priority 11 0
config 802.1p default_priority 12 0
config 802.1p default_priority 13 0
config 802.1p default_priority 14 0
config 802.1p default_priority 15 0
config 802.1p default_priority 16 0
config 802.1p default_priority 17 0
config 802.1p default_priority 18 0
config cos mapping  port 1 ethernet 802.1p
config cos mapping  port 2 ethernet 802.1p
config cos mapping  port 3 ethernet 802.1p
config cos mapping  port 4 ethernet 802.1p
config cos mapping  port 5 ethernet 802.1p
config cos mapping  port 6 ethernet 802.1p
config cos mapping  port 7 ethernet 802.1p
config cos mapping  port 8 ethernet 802.1p
config cos mapping  port 9 ethernet 802.1p
config cos mapping  port 10 ethernet 802.1p
config cos mapping  port 11 ethernet 802.1p
config cos mapping  port 12 ethernet 802.1p
config cos mapping  port 13 ethernet 802.1p
config cos mapping  port 14 ethernet 802.1p
config cos mapping  port 15 ethernet 802.1p
config cos mapping  port 16 ethernet 802.1p
config cos mapping  port 17 ethernet 802.1p
config cos mapping  port 18 ethernet 802.1p
config cos tos value 0 class 0
config cos tos value 1 class 0
config cos tos value 2 class 0
config cos tos value 3 class 0
config cos tos value 4 class 0
config cos tos value 5 class 0
config cos tos value 6 class 0
config cos tos value 7 class 0
config dscp_mapping dscp_value 0 class 0
config dscp_mapping dscp_value 1 class 0
config dscp_mapping dscp_value 2 class 0
config dscp_mapping dscp_value 3 class 0
config dscp_mapping dscp_value 4 class 0
config dscp_mapping dscp_value 5 class 0
config dscp_mapping dscp_value 6 class 0
config dscp_mapping dscp_value 7 class 0
config dscp_mapping dscp_value 8 class 0
config dscp_mapping dscp_value 9 class 0
config dscp_mapping dscp_value 10 class 0
config dscp_mapping dscp_value 11 class 0
config dscp_mapping dscp_value 12 class 0
config dscp_mapping dscp_value 13 class 0
config dscp_mapping dscp_value 14 class 0
config dscp_mapping dscp_value 15 class 0
config dscp_mapping dscp_value 16 class 0
config dscp_mapping dscp_value 17 class 0
config dscp_mapping dscp_value 18 class 0
config dscp_mapping dscp_value 19 class 0
config dscp_mapping dscp_value 20 class 0
config dscp_mapping dscp_value 21 class 0
config dscp_mapping dscp_value 22 class 0
config dscp_mapping dscp_value 23 class 0
config dscp_mapping dscp_value 24 class 0
config dscp_mapping dscp_value 25 class 0
config dscp_mapping dscp_value 26 class 0
config dscp_mapping dscp_value 27 class 0
config dscp_mapping dscp_value 28 class 0
config dscp_mapping dscp_value 29 class 0
config dscp_mapping dscp_value 30 class 0
config dscp_mapping dscp_value 31 class 0
config dscp_mapping dscp_value 32 class 0
config dscp_mapping dscp_value 33 class 0
config dscp_mapping dscp_value 34 class 0
config dscp_mapping dscp_value 35 class 0
config dscp_mapping dscp_value 36 class 0
config dscp_mapping dscp_value 37 class 0
config dscp_mapping dscp_value 38 class 0
config dscp_mapping dscp_value 39 class 0
config dscp_mapping dscp_value 40 class 0
config dscp_mapping dscp_value 41 class 0
config dscp_mapping dscp_value 42 class 0
config dscp_mapping dscp_value 43 class 0
config dscp_mapping dscp_value 44 class 0
config dscp_mapping dscp_value 45 class 0
config dscp_mapping dscp_value 46 class 0
config dscp_mapping dscp_value 47 class 0
config dscp_mapping dscp_value 48 class 0
config dscp_mapping dscp_value 49 class 0
config dscp_mapping dscp_value 50 class 0
config dscp_mapping dscp_value 51 class 0
config dscp_mapping dscp_value 52 class 0
config dscp_mapping dscp_value 53 class 0
config dscp_mapping dscp_value 54 class 0
config dscp_mapping dscp_value 55 class 0
config dscp_mapping dscp_value 56 class 0
config dscp_mapping dscp_value 57 class 0
config dscp_mapping dscp_value 58 class 0
config dscp_mapping dscp_value 59 class 0
config dscp_mapping dscp_value 60 class 0
config dscp_mapping dscp_value 61 class 0
config dscp_mapping dscp_value 62 class 0
config dscp_mapping dscp_value 63 class 0

# MIRROR

enable mirror
config mirror port 1 add source ports 9-10 rx
config mirror port 1 add source ports 9-10 tx
config mirror port 2 add source ports 9-10 rx
config mirror port 2 add source ports 9-10 tx

# BANDWIDTH

 config bandwidth 1  rx_rate no_limit  tx_rate no_limit
 config bandwidth 2  rx_rate no_limit  tx_rate no_limit
 config bandwidth 3  rx_rate no_limit  tx_rate no_limit
 config bandwidth 4  rx_rate no_limit  tx_rate no_limit
 config bandwidth 5  rx_rate no_limit  tx_rate no_limit
 config bandwidth 6  rx_rate no_limit  tx_rate no_limit
 config bandwidth 7  rx_rate no_limit  tx_rate no_limit
 config bandwidth 8  rx_rate no_limit  tx_rate no_limit
 config bandwidth 9  rx_rate no_limit  tx_rate no_limit
 config bandwidth 10  rx_rate no_limit  tx_rate no_limit
 config bandwidth 11  rx_rate no_limit  tx_rate no_limit
 config bandwidth 12  rx_rate no_limit  tx_rate no_limit
 config bandwidth 13  rx_rate no_limit  tx_rate no_limit
 config bandwidth 14  rx_rate no_limit  tx_rate no_limit
 config bandwidth 15  rx_rate no_limit  tx_rate no_limit
 config bandwidth 16  rx_rate no_limit  tx_rate no_limit
 config bandwidth 17  rx_rate no_limit  tx_rate no_limit
 config bandwidth 18  rx_rate no_limit  tx_rate no_limit

# SYSLOG

disable syslog
config log_save_timing on_demand

# TRAF-SEGMENTATION

config traffic_segmentation 1 forward_list 1-18
config traffic_segmentation 2 forward_list 1-18
config traffic_segmentation 3 forward_list 1-18
config traffic_segmentation 4 forward_list 1-18
config traffic_segmentation 5 forward_list 1-18
config traffic_segmentation 6 forward_list 1-18
config traffic_segmentation 7 forward_list 1-18
config traffic_segmentation 8 forward_list 1-18
config traffic_segmentation 9 forward_list 1-18
config traffic_segmentation 10 forward_list 1-18
config traffic_segmentation 11 forward_list 1-18
config traffic_segmentation 12 forward_list 1-18
config traffic_segmentation 13 forward_list 1-18
config traffic_segmentation 14 forward_list 1-18
config traffic_segmentation 15 forward_list 1-18
config traffic_segmentation 16 forward_list 1-18
config traffic_segmentation 17 forward_list 1-18
config traffic_segmentation 18 forward_list 1-18

# PORT

 config ports 1 speed auto flow_control disable state enable  clear_description
 config ports 2 speed auto flow_control disable state enable  clear_description
 config ports 3 speed auto flow_control disable state enable  clear_description
 config ports 4 speed auto flow_control disable state enable  clear_description
 config ports 5 speed auto flow_control disable state disable  clear_description
 config ports 6 speed auto flow_control disable state enable  clear_description
 config ports 7 speed auto flow_control disable state enable  clear_description
 config ports 8 speed auto flow_control disable state enable  clear_description
 config ports 9 speed auto flow_control disable state enable  clear_description
 config ports 10 speed auto flow_control disable state enable  clear_description
 config ports 11 speed auto flow_control disable state enable  clear_description
 config ports 12 speed auto flow_control disable state enable  clear_description
 config ports 13 speed auto flow_control disable state enable  clear_description
 config ports 14 speed auto flow_control disable state enable  clear_description
 config ports 15 speed auto flow_control disable state enable  clear_description
 config ports 16 speed auto flow_control disable state enable  clear_description
 config ports 17  state  enable
 config ports 18  state  enable

# MANAGEMENT

enable snmp traps 
enable snmp authenticate traps 
disable rmon 

# SNMPv3

delete snmp community public
delete snmp community private
delete snmp user initial
delete snmp group initial
delete snmp view restricted all
delete snmp view CommunityView all
delete snmp group public
delete snmp group private
delete snmp group ReadGroup
delete snmp group WriteGroup
config snmp engineID 800000ab030015e9871d56
create snmp view restricted 1.3.6.1.2.1.1 view_type included
create snmp view restricted 1.3.6.1.2.1.11 view_type included
create snmp view restricted 1.3.6.1.6.3.10.2.1 view_type included
create snmp view restricted 1.3.6.1.6.3.11.2.1 view_type included
create snmp view restricted 1.3.6.1.6.3.15.1.1 view_type included
create snmp view CommunityView 1 view_type included
create snmp view CommunityView 1.3.6.1.6.3 view_type excluded
create snmp view CommunityView 1.3.6.1.6.3.1 view_type included
create snmp group public v1 read_view CommunityView notify_view CommunityView 
create snmp group public v2c read_view CommunityView notify_view CommunityView 
create snmp group initial v3  noauth_nopriv read_view restricted notify_view restricted 
create snmp group private v1 read_view CommunityView write_view CommunityView notify_view CommunityView 
create snmp group private v2c read_view CommunityView write_view CommunityView notify_view CommunityView 
create snmp group ReadGroup v1 read_view CommunityView notify_view CommunityView 
create snmp group ReadGroup v2c read_view CommunityView notify_view CommunityView 
create snmp group WriteGroup v1 read_view CommunityView write_view CommunityView notify_view CommunityView 
create snmp group WriteGroup v2c read_view CommunityView write_view CommunityView notify_view CommunityView 
create snmp community private view CommunityView read_write
create snmp community public view CommunityView read_only
create snmp user initial initial 

# VLAN

config vlan default delete 1-18
config vlan default add untagged 1-18

# AUTOMAGICALLY GENERATED VLAN LIST
create vlan vlan101 tag 101
config vlan vlan101 add tagged 1-16
create vlan vlan102 tag 102
config vlan vlan102 add tagged 1-16
create vlan vlan103 tag 103
config vlan vlan103 add tagged 1-16
create vlan vlan104 tag 104
config vlan vlan104 add tagged 1-16
create vlan vlan105 tag 105
config vlan vlan105 add tagged 1-16
create vlan vlan106 tag 106
config vlan vlan106 add tagged 1-16
create vlan vlan107 tag 107
config vlan vlan107 add tagged 1-16
create vlan vlan108 tag 108
config vlan vlan108 add tagged 1-16
create vlan vlan109 tag 109
config vlan vlan109 add tagged 1-16
create vlan vlan110 tag 110
config vlan vlan110 add tagged 1-16
create vlan vlan111 tag 111
config vlan vlan111 add tagged 1-16
create vlan vlan112 tag 112
config vlan vlan112 add tagged 1-16
create vlan vlan113 tag 113
config vlan vlan113 add tagged 1-16
create vlan vlan114 tag 114
config vlan vlan114 add tagged 1-16
create vlan vlan115 tag 115
config vlan vlan115 add tagged 1-16
create vlan vlan116 tag 116
config vlan vlan116 add tagged 1-16
create vlan vlan117 tag 117
config vlan vlan117 add tagged 1-16
create vlan vlan118 tag 118
config vlan vlan118 add tagged 1-16
create vlan vlan119 tag 119
config vlan vlan119 add tagged 1-16
create vlan vlan120 tag 120
config vlan vlan120 add tagged 1-16
create vlan vlan121 tag 121
config vlan vlan121 add tagged 1-16
create vlan vlan122 tag 122
config vlan vlan122 add tagged 1-16
create vlan vlan201 tag 201
config vlan vlan201 add tagged 1-16
create vlan vlan202 tag 202
config vlan vlan202 add tagged 1-16
create vlan vlan203 tag 203
config vlan vlan203 add tagged 1-16
create vlan vlan204 tag 204
config vlan vlan204 add tagged 1-16
create vlan vlan205 tag 205
config vlan vlan205 add tagged 1-16
create vlan vlan206 tag 206
config vlan vlan206 add tagged 1-16
create vlan vlan207 tag 207
config vlan vlan207 add tagged 1-16
create vlan vlan208 tag 208
config vlan vlan208 add tagged 1-16
create vlan vlan209 tag 209
config vlan vlan209 add tagged 1-16
create vlan vlan210 tag 210
config vlan vlan210 add tagged 1-16
create vlan vlan211 tag 211
config vlan vlan211 add tagged 1-16
create vlan vlan212 tag 212
config vlan vlan212 add tagged 1-16
create vlan vlan213 tag 213
config vlan vlan213 add tagged 1-16
create vlan vlan214 tag 214
config vlan vlan214 add tagged 1-16
create vlan vlan215 tag 215
config vlan vlan215 add tagged 1-16
create vlan vlan216 tag 216
config vlan vlan216 add tagged 1-16
create vlan vlan217 tag 217
config vlan vlan217 add tagged 1-16
create vlan vlan218 tag 218
config vlan vlan218 add tagged 1-16
create vlan vlan219 tag 219
config vlan vlan219 add tagged 1-16
create vlan vlan220 tag 220
config vlan vlan220 add tagged 1-16
create vlan vlan221 tag 221
config vlan vlan221 add tagged 1-16
create vlan vlan222 tag 222
config vlan vlan222 add tagged 1-16
create vlan vlan301 tag 301
config vlan vlan301 add tagged 1-16
create vlan vlan302 tag 302
config vlan vlan302 add tagged 1-16
create vlan vlan303 tag 303
config vlan vlan303 add tagged 1-16
create vlan vlan304 tag 304
config vlan vlan304 add tagged 1-16
create vlan vlan305 tag 305
config vlan vlan305 add tagged 1-16
create vlan vlan306 tag 306
config vlan vlan306 add tagged 1-16
create vlan vlan307 tag 307
config vlan vlan307 add tagged 1-16
create vlan vlan308 tag 308
config vlan vlan308 add tagged 1-16
create vlan vlan309 tag 309
config vlan vlan309 add tagged 1-16
create vlan vlan310 tag 310
config vlan vlan310 add tagged 1-16
create vlan vlan311 tag 311
config vlan vlan311 add tagged 1-16
create vlan vlan312 tag 312
config vlan vlan312 add tagged 1-16
create vlan vlan313 tag 313
config vlan vlan313 add tagged 1-16
create vlan vlan314 tag 314
config vlan vlan314 add tagged 1-16
create vlan vlan315 tag 315
config vlan vlan315 add tagged 1-16
create vlan vlan316 tag 316
config vlan vlan316 add tagged 1-16
create vlan vlan317 tag 317
config vlan vlan317 add tagged 1-16
create vlan vlan318 tag 318
config vlan vlan318 add tagged 1-16
create vlan vlan319 tag 319
config vlan vlan319 add tagged 1-16
create vlan vlan320 tag 320
config vlan vlan320 add tagged 1-16
create vlan vlan321 tag 321
config vlan vlan321 add tagged 1-16
create vlan vlan322 tag 322
config vlan vlan322 add tagged 1-16
create vlan vlan401 tag 401
config vlan vlan401 add tagged 1-16
create vlan vlan402 tag 402
config vlan vlan402 add tagged 1-16
create vlan vlan403 tag 403
config vlan vlan403 add tagged 1-16
create vlan vlan404 tag 404
config vlan vlan404 add tagged 1-16
create vlan vlan405 tag 405
config vlan vlan405 add tagged 1-16
create vlan vlan406 tag 406
config vlan vlan406 add tagged 1-16
create vlan vlan407 tag 407
config vlan vlan407 add tagged 1-16
create vlan vlan408 tag 408
config vlan vlan408 add tagged 1-16
create vlan vlan409 tag 409
config vlan vlan409 add tagged 1-16
create vlan vlan410 tag 410
config vlan vlan410 add tagged 1-16
create vlan vlan411 tag 411
config vlan vlan411 add tagged 1-16
create vlan vlan412 tag 412
config vlan vlan412 add tagged 1-16
create vlan vlan413 tag 413
config vlan vlan413 add tagged 1-16
create vlan vlan414 tag 414
config vlan vlan414 add tagged 1-16
create vlan vlan415 tag 415
config vlan vlan415 add tagged 1-16
create vlan vlan416 tag 416
config vlan vlan416 add tagged 1-16
create vlan vlan417 tag 417
config vlan vlan417 add tagged 1-16
create vlan vlan418 tag 418
config vlan vlan418 add tagged 1-16
create vlan vlan419 tag 419
config vlan vlan419 add tagged 1-16
create vlan vlan420 tag 420
config vlan vlan420 add tagged 1-16
create vlan vlan421 tag 421
config vlan vlan421 add tagged 1-16
create vlan vlan422 tag 422
config vlan vlan422 add tagged 1-16
create vlan vlan501 tag 501
config vlan vlan501 add tagged 1-16
create vlan vlan502 tag 502
config vlan vlan502 add tagged 1-16
create vlan vlan503 tag 503
config vlan vlan503 add tagged 1-16
create vlan vlan504 tag 504
config vlan vlan504 add tagged 1-16
create vlan vlan505 tag 505
config vlan vlan505 add tagged 1-16
create vlan vlan506 tag 506
config vlan vlan506 add tagged 1-16
create vlan vlan507 tag 507
config vlan vlan507 add tagged 1-16
create vlan vlan508 tag 508
config vlan vlan508 add tagged 1-16
create vlan vlan509 tag 509
config vlan vlan509 add tagged 1-16
create vlan vlan510 tag 510
config vlan vlan510 add tagged 1-16
create vlan vlan511 tag 511
config vlan vlan511 add tagged 1-16
create vlan vlan512 tag 512
config vlan vlan512 add tagged 1-16
create vlan vlan513 tag 513
config vlan vlan513 add tagged 1-16
create vlan vlan514 tag 514
config vlan vlan514 add tagged 1-16
create vlan vlan515 tag 515
config vlan vlan515 add tagged 1-16
create vlan vlan516 tag 516
config vlan vlan516 add tagged 1-16
create vlan vlan517 tag 517
config vlan vlan517 add tagged 1-16
create vlan vlan518 tag 518
config vlan vlan518 add tagged 1-16
create vlan vlan519 tag 519
config vlan vlan519 add tagged 1-16
create vlan vlan520 tag 520
config vlan vlan520 add tagged 1-16
create vlan vlan521 tag 521
config vlan vlan521 add tagged 1-16
create vlan vlan522 tag 522
config vlan vlan522 add tagged 1-16

# PORT_LOCK

disable port_security trap_log
 config port_security ports 1 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 2 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 3 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 4 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 5 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 6 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 7 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 8 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 9 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 10 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 11 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 12 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 13 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 14 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 15 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout
 config port_security ports 16 admin_state disable max_learning_addr 1 lock_address_mode DeleteOnTimeout

# FDB

config fdb aging_time 300
config multicast filtering_mode  forward_unregistered_groups

# MAC_ADDRESS_TABLE_NOTIFICATION

config mac_notification interval 1 historysize 1
disable mac_notification
config mac_notification ports 1 disable
config mac_notification ports 2 disable
config mac_notification ports 3 disable
config mac_notification ports 4 disable
config mac_notification ports 5 disable
config mac_notification ports 6 disable
config mac_notification ports 7 disable
config mac_notification ports 8 disable
config mac_notification ports 9 disable
config mac_notification ports 10 disable
config mac_notification ports 11 disable
config mac_notification ports 12 disable
config mac_notification ports 13 disable
config mac_notification ports 14 disable
config mac_notification ports 15 disable
config mac_notification ports 16 disable
config mac_notification ports 17 disable
config mac_notification ports 18 disable

# SNOOP

disable igmp_snooping
config igmp_snooping vlan_name default host_timeout 260 router_timeout 260 leave_timer 2 state disable fast_leave disable
config igmp_snooping querier vlan_name default query_interval 125 max_response_time 10 robustness_variable 2 
config igmp_snooping querier vlan_name default last_member_query_interval 1 state disable
config igmp_snooping vlan_name vlan100 host_timeout 260 router_timeout 260 leave_timer 2 state disable fast_leave disable
config igmp_snooping querier vlan_name vlan100 query_interval 125 max_response_time 10 robustness_variable 2 
config igmp_snooping querier vlan_name vlan100 last_member_query_interval 1 state disable
config igmp_snooping vlan_name vlan200 host_timeout 260 router_timeout 260 leave_timer 2 state disable fast_leave disable
config igmp_snooping querier vlan_name vlan200 query_interval 125 max_response_time 10 robustness_variable 2 
config igmp_snooping querier vlan_name vlan200 last_member_query_interval 1 state disable

# SMTP

disable smtp

# ACL

disable cpu_interface_filtering

# SNTP

disable sntp
config time_zone operator - hour 6 min 0
config sntp primary 0.0.0.0 secondary 0.0.0.0 poll-interval 720
config dst disable

# LACP

config lacp_port 1-18 mode passive
config link_aggregation algorithm mac_source

# 8021X

disable 802.1x
config 802.1x auth_protocol radius_eap
config 802.1x capability ports 1 none
config 802.1x capability ports 2 none
config 802.1x capability ports 3 none
config 802.1x capability ports 4 none
config 802.1x capability ports 5 none
config 802.1x capability ports 6 none
config 802.1x capability ports 7 none
config 802.1x capability ports 8 none
config 802.1x capability ports 9 none
config 802.1x capability ports 10 none
config 802.1x capability ports 11 none
config 802.1x capability ports 12 none
config 802.1x capability ports 13 none
config 802.1x capability ports 14 none
config 802.1x capability ports 15 none
config 802.1x capability ports 16 none
config 802.1x auth_parameter ports 1 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 2 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 3 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 4 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 5 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 6 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 7 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 8 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 9 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 10 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 11 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 12 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 13 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 14 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 15 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable
config 802.1x auth_parameter ports 16 direction both port_control auto quiet_period 60 tx_period 30 supp_timeout 30 server_timeout 30 max_req 2 reauth_period 3600 enable_reauth disable

# ADDRBIND

config address_binding ip_mac ports 1 state disable allow_zeroip disable
config address_binding ip_mac ports 2 state disable allow_zeroip disable
config address_binding ip_mac ports 3 state disable allow_zeroip disable
config address_binding ip_mac ports 4 state disable allow_zeroip disable
config address_binding ip_mac ports 5 state disable allow_zeroip disable
config address_binding ip_mac ports 6 state disable allow_zeroip disable
config address_binding ip_mac ports 7 state disable allow_zeroip disable
config address_binding ip_mac ports 8 state disable allow_zeroip disable
config address_binding ip_mac ports 9 state disable allow_zeroip disable
config address_binding ip_mac ports 10 state disable allow_zeroip disable
config address_binding ip_mac ports 11 state disable allow_zeroip disable
config address_binding ip_mac ports 12 state disable allow_zeroip disable
config address_binding ip_mac ports 13 state disable allow_zeroip disable
config address_binding ip_mac ports 14 state disable allow_zeroip disable
config address_binding ip_mac ports 15 state disable allow_zeroip disable
config address_binding ip_mac ports 16 state disable allow_zeroip disable
config address_binding ip_mac ports 17 state disable allow_zeroip disable
config address_binding ip_mac ports 18 state disable allow_zeroip disable
disable address_binding trap_log

# IP

config ipif System vlan default ipaddress 192.168.200.10/24 state enable clear_description
enable telnet 23
enable web 80
disable autoconfig

# ARP

config arp_aging time 20

# ROUTE


#-------------------------------------------------------------------
#             End of configuration file for DES-3018
#------------------------------------------------------------------- 
