[Desktop Entry]
Encoding=UTF-8
Name=aurex notify
Comment=aurex session user agent
Exec=/usr/share/aurex-notify/aurex-notify-script
Terminal=false
Type=Application
Categories=
