Source: aurex-transmute
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.8.4

Package: aurex-transmute
Architecture: all
Depends: ${misc:Depends}, rsync, apt
Description: Transmute plain Ubuntu into golden AureX
 Utility to transmute Ubuntu into AureX

Package: aurex-translive
Architecture: all
Depends: ${misc:Depends}, squashfs-tools, genisoimage, rsync, imagemagick, aurex-translive-theme
Description: Transmute an Ubuntu live cd into aurex
 Utility to transmute Ubuntu live cd into aurex live

Package: aurex-keyring
Architecture: all
Depends: ${misc:Depends}, aurex-transmute
Description: GnuPG keys of the aurex archive
 The aurex project digitally signs its Release files. This package
 installs the archive keys used for that.

