Source: aurex-transmute
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0), gettext
Standards-Version: 3.8.4

Package: aurex-transmute
Architecture: all
Depends: ${misc:Depends}, rsync, apt
Description: Transmute plain Ubuntu into golden AureX
 Utility to transmute Ubuntu into AureX

Package: aurex-translive
Architecture: all
Depends: ${misc:Depends}, squashfs-tools, genisoimage, rsync, imagemagick, aurex-translive-theme
Description: Transmute an Ubuntu live cd into aurex
 Utility to transmute Ubuntu live cd into aurex live

Package: aurex-keyring
Architecture: all
Depends: ${misc:Depends}, aurex-transmute
Description: GnuPG keys of the aurex archive
 The aurex project digitally signs its Release files. This package
 installs the archive keys used for that.

Package: aurex-ubiquity-transmute
Architecture: all
Depends: ${misc:Depends}, ubiquity, aurex-transmute
Description: Aurex transmute scripts
 'last minute' aurex settings after ubiquity install

Package: aurex-transmute-gui
Architecture: all
Depends: ${misc:Depends}, aurex-transmute, zenity
Description: Aurex transmute GTK interface
 Simple GTK interface for aurex-transmute

Package: aurex-easy-transmute
Architecture: all
Depends: ${misc:Depends}, rsync, apt, zenity
Provides: aurex-transmute, aurex-transmute-gui
Replaces: aurex-transmute, aurex-transmute-gui
Conflicts: aurex-transmute, aurex-transmute-gui
Description: easy way to transmute Ubuntu into aurex
 Just install this package in Ubuntu and click

